.form-container {
  /*espaçamento fora do elemento*/
  margin: 10px;
  width: 800px;
  border-radius: 2px;
  background-color: #ccc8c88c;
  display: block;
  text-align: center;
  padding: 15px;
  margin-left: 300px;
}
